.row
  .col-md-6.col-md-offset-3
    .main_search
      = form_tag q_path, method: :get, html: { class: 'form' } do
        %p
          = text_field_tag :q, @q,  class: 'form-control'
        %p
          = submit_tag 'Suggest!', class: 'btn btn-lg btn-primary', data: { disable_with: 'Sending...' }

      %hr

      %h1
        #{@q}の検索候補
      %h2
        #{@suggestions.size}件
      %p.help-block
        = Time.now.to_s(:db)

      %hr

      - @suggestions.each do |s|
        %h4
          = link_to "/main/search?q=#{s.toutf8}", class: 'tip', title: 'クリックして更に検索' do
            = s
          = link_to "https://www.google.co.jp?q=#{s.toutf8}", target: :_blank, class: 'tip', title: "#{j s.toutf8}でGoogle検索" do
            %i.fa.fa-google
