.row
  .span6.offset3
    .main_search
      = form_tag q_path, method: :get do
        %p
          = text_field_tag :q, @q,  class: 'span4'
        %p
          = submit_tag 'Suggest!', class: 'btn btn-large'

      %hr

      %h1
        #{@q}の検索候補
      %h2
        #{@suggestions.size}件
      %h6
        = Time.now

      %hr

      - @suggestions.each do |s|
        %h4= s
